<td>{{rank}}</td>
<td>{{name}}</td>
<td><img class='angry_cat_pic' src='{{image_path}}' /></td>
<td>
<div class='rank_up'><img src='images/up.gif' /></div>
<div class='rank_down'><img src='images/down.gif' /></div>
</td>